{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- BANNER SECTION START -->
    {% comment %} <section class="service-banner sub-banner-section w-100 float-left d-flex align-items-center">
        <div class="container">
            <div class="sub-banner-inner-con text-center">
                <h1 data-aos="fade-up" data-aos-duration="700">Блог</h1>
                <p data-aos="fade-up" data-aos-duration="700">Посетите наш блог, чтобы узнать последние новости и советы.</p>
                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-duration="700">
                    <ol class="breadcrumb d-inline-block mb-0">
                        <li class="breadcrumb-item d-inline-block"><a href="index.html">Главная</a></li>
                        <li class="breadcrumb-item active text-white d-inline-block" aria-current="page">Блог</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- BANNER SECTION END -->
    <!-- MAIN SECTION -->
    <div class="blog-posts blogpage-section">
        <div class="container">
            <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div id="blog" class="col-xl-12">

                    {% for post in posts %}
                    <div class="blog-box onecolumn-blog float-left w-100 post-item mb-4">
                        <div class="post-item-wrap position-relative">
                            <div class="post-image">
                                <a href="single-blog.html"><img alt="{{ post.title }}" src="{{ post.thumbnail.url }}" style="width: 1110px; height: 462px;"></a>
                            </div>
                            <div class="lower-portion">
                                <i class="fa-solid fa-user"></i>
                                <span class="text-size-14 text-mr">Автор: {{ post.author }}</span>
                                <i class="tag-mb fa-solid fa-tag"></i>
                                <span class="text-size-14">Название: {{ post.title }}</span>
                                <p class="mb-0 text-size-16">{{ post.description }}</p>
                            </div>
                            <div class="button-portion loadone_twocol">
                                <div class="date">
                                    <i class="mb-0 calendar-ml fa-solid fa-calendar-days"></i>
                                    <span class="mb-0 text-size-14">{{ post.publish }}</span>
                                </div>
                                <div class="button">
                                    <a class="mb-0 read_more text-decoration-none" href="{% url 'main:blog_detail' slug=post.slug %}">
                                        Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock content %}